@font-face {
  font-family: Anton-Regular;
  src: url(fonts/Anton-Regular.ttf)
}

body {
  background-color: lightgray;
}

h1 {
  margin-left: 200px;
  font-family: Anton-Regular, serif;
  font-size: 50px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.input-container {
  margin-left: 200px;
  width: 100vw;
  display: block;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs {
  margin: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 60vw;
}

#imageUrl {
  width: 60vw;
}

#topText {
  width: 60vw;
}

#bottomText {
  width: 60vw;
}

#meme-display {
  /* display: flex;
  justify-content: center; */
  width: 100%
}

.memediv {
  position: relative;
  width: 600px;
}

.meme {
  position: relative;
  box-sizing: border-box;
  left: 50px;
  width: 500px;
  margin: 0;
}

.top {
  position: absolute;
  inline-size: 450px;
  overflow-wrap: break-word;
  text-align: center;
  left: 10px;
  top: 5px;
  font-family: Anton-Regular, serif;
  font-size: 4em;
  width: 480px;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black , 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.bottom {
  position: absolute;
  inline-size: 450px;
  overflow-wrap: break-word;
  text-align: center;
  left: 10px;
  bottom: 50px;
  font-family: Anton-Regular, serif;
  font-size: 4em;
  width: 480px;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black , 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

button {
  position: relative;
  left: 50px;
  background-color: white;
  border-color: white;
  border-radius: 10px;
  font-size: 16px;
  font-family: Anton-Regular, serif;
}

.remove {
  position: relative;
  bottom: 2px;
}